<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Book</h2>
    <form action="/update_book" method="POST">
    <input type="hidden" name="id" value="{{bookdata._id}}" />
    Title: <input type="text" name="title" value="{{bookdata.title}}" />
    Author: <input type="text" name="author" value="{{bookdata.author}}" />
    <button type="submit">Update Book</button>
    </form>

</body>
</html>

